[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=2"
numba = "*"
pre-commit = "*"
pygame-ce = ">=2.5"

[dev-packages]
pyinstaller = ">=6"

[requires]
python_version = "3.12"
