[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyinstaller = "*"
pygame-ce = "*"
numba = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
