[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyinstaller = ">=6"
pygame-ce = ">=2.5"
numba = "*"
pre-commit = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
